
aiohttp-retry==2.9.1
amadeus==12.0.0
anywidget==0.9.13
appdirs==1.4.4
astor==0.8.1
atomicwrites==1.4.0
backoff==2.2.1
bs4==0.0.2
dateutils==0.6.12
duckdb==1.2.0
entrypoints==0.4
Faker==37.0.0
favicon==0.7.0
fqdn==1.5.1
gw_dsl_parser==0.1.49.1
htbuilder==0.9.0
importlib_resources==6.5.2
ipylab==1.0.0
isoduration==20.11.0
jsonpointer==2.1
kanaries_track==0.0.5
Markdown==3.7
markdownlit==0.0.7
matplotlib==3.9.2
monotonic==1.6
protobuf==4.25.3
psygnal==0.12.0
pyasn1-modules==0.2.8
pygwalker==0.4.9.13
pyls-spyder==0.4.0
pymdown-extensions==10.14.3
PyQt5==5.15.10
PyQtWebEngine==5.15.6
quickjs==1.19.4
segment-analytics-python==2.2.3
serpapi==0.1.5
setuptools==75.1.0
streamlit-camera-input-live==0.2.0
streamlit-card==1.0.2
streamlit-embedcode==0.1.2
streamlit-extras==0.5.5
streamlit-faker==0.0.3
streamlit-image-coordinates==0.1.9
streamlit-keyup==0.3.0
streamlit-toggle-switch==1.0.2
streamlit-vertical-slider==2.5.5
twilio==9.4.5
uri-template==1.3.0
validators==0.34.0
wasmtime==29.0.0
webcolors==24.11.1
wheel==0.44.0
